<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <bean id="dtdc" class="com.kk.comp.DTDC"/>
	<bean id="bt" class="com.kk.comp.BlueDart" primary="true"/>
	<bean id="courier" class="com.kk.comp.FirstFlight"/>
	
	<bean id="fpkt" class="com.kk.comp.Flipkart"/>
	 -->
	<bean id="dt"  class="java.util.Date"/>
	
	<!-- <context:annotation-config/>
	 -->
	<context:component-scan base-package="com.kk"/>
	<context:property-placeholder location="com/kk/commons/input.properties"/>
</beans>
