<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="myInit" default-destroy-method="myDestroy" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- <bean id="voter1" class="com.kk.beans.Voter" init-method="myInit" destroy-method="myDestroy" scope="singleton">-->
	<bean id="voter1" class="com.kk.beans.Voter" init-method="myInit"
		destroy-method="myDestroy" scope="singleton">
		<property name="name" value="Krishna" />
		<property name="age" value="25" />
	</bean>

	<bean id="voter2" class="com.kk.beans.Voter" scope="prototype">
		<property name="name" value="ravi1" />
		<property name="age" value="110" />
	</bean>
</beans>
